body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#pageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#pageForm {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
    width: fit-content;
}

#newBook {
    margin: 5px 0px;
}

#form {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

input {
    margin-right: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    padding: 10px;
}

#readStatusButton {
    width: fit-content;
}

#removeButton {
    margin-top: auto;
    background-color: red;
    width: fit-content;
    align-self: center;
    border-radius: 3px;
    border: 0;
}

.invisible {
    display: none;
}